@use './partials/partials' as *;

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Avenir, 'Times New Roman', Times, serif; 
}

h2{
    font-size: 24px;
    font-family: AvenirBold;
    line-height: 32px;
    @include tablet {
        font-size: 36px;
    }
}
h3{
    font-size: 16px;
    font-family: AvenirDemi;
    line-height: 18px;
}
p{
    font-size: 14px;
    line-height: 22px;
}
