@font-face {
    font-family: Avenir;
    src: url('../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: AvenirDemi;
    src: url('../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf');
}
@font-face {
    font-family: AvenirBold;
    src: url('../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf');
}

$primary-color1: #323232;
$primary-color2: #AFAFAF;
$primary-color3: #FFFFFF;

$tablet-width: 767px;
$desktop-width: 1280px;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }   
}
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }  
}

@mixin flex-center{
    display: flex;
    justify-content: center;
}
@mixin flex-align-center{
    display: flex;
    align-items: center;
}
@mixin flex-around{
    display: flex;
    justify-content: space-around;
}