@use '../../partials/partials' as *;

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    @include tablet{
        justify-content: space-between;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    @include desktop{
        margin-left: 100px;
        margin-right: 100px;
    }

    &__logo{
        height: 26px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        @include tablet{
            justify-content: space-between;
            margin-right: 169px;
        }
    }
    &__search{
        height: 48px;
        width: 100%;
        border-radius: 4px;
        background-color: #fafafa;
        border: 1px solid #E1E1E1;
        padding-left: 40px;
        background-image: url(../../assets/images/Icons/Icon-search.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 15px;
        &::placeholder{
            color: #323232;
        }
        @include tablet{
            width: calc(100% - (169px + 24px + 24px + 400px));
        }
    }
    &__button{
        padding: 18px 0;
        text-decoration: none;     
        width: calc(65% - (48px + 16px + 40px));
        border-radius: 4px;
        color: #FFFFFF;
        background-color: #0095FF;
        border: none;
        margin-top: 8px;
        margin-bottom: 16px;
        background-image: url(../../assets/images/Icons/Icon-upload.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 40%;
        padding-left: 40%;
        font-size: 12px;
        &:hover{
            background-color: #0065AD;
        }
        @include tablet{
            width: 120px;
            padding-left: 60px;
            background-position-x: 20%;
            margin-top: 16px;
        }
        &--text{
            text-decoration: none;
        }
    }
    &__mohan{
        border-radius: 50%;
        background-image: url(../../assets/images/Images/Mohan-muruge.jpg);
        height: 48px;
        width: 48px;
        background-size: cover;
        margin-left: 16px;
        margin-bottom: 16px;
        margin-top: 8px;
        @include tablet{
            margin-left: 0;
            margin-top: 16px;
        }
    }
}